
/* https://iconscout.com/unicons - ICONS 
https://unicons.iconscout.com/release/v4.0.8/css/thinline.css

<script src="https://kit.fontawesome.com/936b0b85c7.js" crossorigin="anonymous"></script>

https://fonts.google.com/ - FONTS <style>
@import url('https://fonts.googleapis.com/css2?family=Playfair:opsz,wdth@5..1200,112.5&display=swap');
</style>

https://www.w3schools.com/colors/colors_hsl.asp - COLOURS 
 
hsl(210, 67%, 60%)
rgb(85, 153, 221)
#5599dd 

background-color: #5599DD;
background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100%25' height='100%25' viewBox='0 0 1200 800'%3E%3Cdefs%3E%3ClinearGradient id='a' 
gradientUnits='userSpaceOnUse' x1='600' y1='25' x2='600' y2='777'%3E%3Cstop offset='0' stop-color='%235599DD'/%3E%3Cstop offset='1' stop-color='%232673C0'/%3E%3C/linearGradient%3E%3ClinearGradient 
id='b' gradientUnits='userSpaceOnUse' x1='650' y1='25' x2='650' y2='777'%3E%3Cstop offset='0' stop-color='%234f96dc'/%3E%3Cstop offset='1' stop-color='%23287acc'/%3E%3C/linearGradient%3E%3ClinearGradient 
id='c' gradientUnits='userSpaceOnUse' x1='700' y1='25' x2='700' y2='777'%3E%3Cstop offset='0' stop-color='%234992db'/%3E%3Cstop offset='1' stop-color='%232c81d5'/%3E%3C/linearGradient%3E%3ClinearGradient 
id='d' gradientUnits='userSpaceOnUse' x1='750' y1='25' x2='750' y2='777'%3E%3Cstop offset='0' stop-color='%23448fda'/%3E%3Cstop offset='1' stop-color='%233888d8'/%3E%3C/linearGradient%3E%3ClinearGradient 
id='e' gradientUnits='userSpaceOnUse' x1='800' y1='25' x2='800' y2='777'%3E%3Cstop offset='0' stop-color='%233e8bd9'/%3E%3Cstop offset='1' stop-color='%23448eda'/%3E%3C/linearGradient%3E%3ClinearGradient 
id='f' gradientUnits='userSpaceOnUse' x1='850' y1='25' x2='850' y2='777'%3E%3Cstop offset='0' stop-color='%233888d7'/%3E%3Cstop offset='1' stop-color='%234f95dc'/%3E%3C/linearGradient%3E%3ClinearGradient 
id='g' gradientUnits='userSpaceOnUse' x1='900' y1='25' x2='900' y2='777'%3E%3Cstop offset='0' stop-color='%233284d6'/%3E%3Cstop offset='1' stop-color='%235b9cdf'/%3E%3C/linearGradient%3E%3ClinearGradient 
id='h' gradientUnits='userSpaceOnUse' x1='950' y1='25' x2='950' y2='777'%3E%3Cstop offset='0' stop-color='%232c81d5'/%3E%3Cstop offset='1' stop-color='%2367a3e1'/%3E%3C/linearGradient%3E%3ClinearGradient 
id='i' gradientUnits='userSpaceOnUse' x1='1000' y1='25' x2='1000' y2='777'%3E%3Cstop offset='0' stop-color='%232a7dd1'/%3E%3Cstop offset='1' stop-color='%2372aae3'/%3E%3C/linearGradient%3E%3ClinearGradient 
id='j' gradientUnits='userSpaceOnUse' x1='1050' y1='25' x2='1050' y2='777'%3E%3Cstop offset='0' stop-color='%23287acb'/%3E%3Cstop offset='1' stop-color='%237eb1e5'/%3E%3C/linearGradient%3E%3ClinearGradient 
id='k' gradientUnits='userSpaceOnUse' x1='1100' y1='25' x2='1100' y2='777'%3E%3Cstop offset='0' stop-color='%232776c6'/%3E%3Cstop offset='1' stop-color='%2389b8e8'/%3E%3C/linearGradient%3E%3ClinearGradient 
id='l' gradientUnits='userSpaceOnUse' x1='1150' y1='25' x2='1150' y2='777'%3E%3Cstop offset='0' stop-color='%232673C0'/%3E%3Cstop offset='1' stop-color='%2395BFEA'/%3E%3C/linearGradient%3E%3C/defs%3E%3Cg %3E%3Crect 
fill='url(%23a)' width='1200' height='800'/%3E%3Crect fill='url(%23b)' x='100' width='1100' height='800'/%3E%3Crect fill='url(%23c)' x='200' width='1000' height='800'/%3E%3Crect fill='url(%23d)' x='300' width='900' 
height='800'/%3E%3Crect fill='url(%23e)' x='400' width='800' height='800'/%3E%3Crect fill='url(%23f)' x='500' width='700' height='800'/%3E%3Crect fill='url(%23g)' x='600' width='600' height='800'/%3E%3Crect fill='url(%23h)' 
x='700' width='500' height='800'/%3E%3Crect fill='url(%23i)' x='800' width='400' height='800'/%3E%3Crect fill='url(%23j)' x='900' width='300' height='800'/%3E%3Crect fill='url(%23k)' x='1000' width='200' height='800'/%3E%3Crect 
fill='url(%23l)' x='1100' width='100' height='800'/%3E%3C/g%3E%3C/svg%3E");
background-attachment: fixed;
background-size: cover;

<svg xmlns='http://www.w3.org/2000/svg' width='100%' height='100%' viewBox='0 0 1200 800'><rect fill='#5599DD' width='1200' height='800'/><defs><linearGradient id='a' gradientUnits='userSpaceOnUse' 
x1='600' y1='25' x2='600' y2='777'><stop offset='0' stop-color='#5599DD'/><stop offset='1' stop-color='#2673C0'/></linearGradient><linearGradient id='b' gradientUnits='userSpaceOnUse' x1='650' y1='25' 
x2='650' y2='777'><stop offset='0' stop-color='#4f96dc'/><stop offset='1' stop-color='#287acc'/></linearGradient><linearGradient id='c' gradientUnits='userSpaceOnUse' x1='700' y1='25' x2='700' y2='777'><stop offset='0' 
stop-color='#4992db'/><stop offset='1' stop-color='#2c81d5'/></linearGradient><linearGradient id='d' gradientUnits='userSpaceOnUse' x1='750' y1='25' x2='750' y2='777'><stop offset='0' stop-color='#448fda'/><stop offset='1' 
stop-color='#3888d8'/></linearGradient><linearGradient id='e' gradientUnits='userSpaceOnUse' x1='800' y1='25' x2='800' y2='777'><stop offset='0' stop-color='#3e8bd9'/><stop offset='1' stop-color='#448eda'/></linearGradient><linearGradient 
id='f' gradientUnits='userSpaceOnUse' x1='850' y1='25' x2='850' y2='777'><stop offset='0' stop-color='#3888d7'/><stop offset='1' stop-color='#4f95dc'/></linearGradient><linearGradient id='g' gradientUnits='userSpaceOnUse' x1='900' y1='25' 
x2='900' y2='777'><stop offset='0' stop-color='#3284d6'/><stop offset='1' stop-color='#5b9cdf'/></linearGradient><linearGradient id='h' gradientUnits='userSpaceOnUse' x1='950' y1='25' x2='950' y2='777'><stop offset='0' 
stop-color='#2c81d5'/><stop offset='1' stop-color='#67a3e1'/></linearGradient><linearGradient id='i' gradientUnits='userSpaceOnUse' x1='1000' y1='25' x2='1000' y2='777'><stop offset='0' stop-color='#2a7dd1'/><stop offset='1' 
stop-color='#72aae3'/></linearGradient><linearGradient id='j' gradientUnits='userSpaceOnUse' x1='1050' y1='25' x2='1050' y2='777'><stop offset='0' stop-color='#287acb'/><stop offset='1' stop-color='#7eb1e5'/></linearGradient><linearGradient 
id='k' gradientUnits='userSpaceOnUse' x1='1100' y1='25' x2='1100' y2='777'><stop offset='0' stop-color='#2776c6'/><stop offset='1' stop-color='#89b8e8'/></linearGradient><linearGradient id='l' gradientUnits='userSpaceOnUse' x1='1150' y1='25' 
x2='1150' y2='777'><stop offset='0' stop-color='#2673C0'/><stop offset='1' stop-color='#95BFEA'/></linearGradient></defs><g ><rect fill='url(#a)' width='1200' height='800'/><rect fill='url(#b)' x='100' width='1100' height='800'/><rect fill='url(#c)' 
x='200' width='1000' height='800'/><rect fill='url(#d)' x='300' width='900' height='800'/><rect fill='url(#e)' x='400' width='800' height='800'/><rect fill='url(#f)' x='500' width='700' height='800'/><rect fill='url(#g)' x='600' width='600' 
height='800'/><rect fill='url(#h)' x='700' width='500' height='800'/><rect fill='url(#i)' x='800' width='400' height='800'/><rect fill='url(#j)' x='900' width='300' height='800'/><rect fill='url(#k)' x='1000' width='200' height='800'/><rect fill='url(#l)' 
x='1100' width='100' height='800'/></g></svg>

*/

.header {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings:
    "wdth" 100%;
  color:white;
  background-color: #5599dd;
  text-align: center;
}

.main {
  background-color: var(--body-color);
  text-align: center;

}

.footer {
  background-color: var(--body-color);
}
 
 /*-----GOOGLE FONTS-----*/
 @import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300..800&display=swap');

 /*-----VARIABLES CSS-----*/
 :root {
  --header-height: 3rem;
  color:#5599dd; 

  /*--COLOURS--*/
  --hue-color:250;

  /*--HSL, HEX or RGB colour mode --*/
  --first-color: hsl(var(--hue-color), 67%, 60%);
  --first-color-second: hsl(var(--hue-color), 67%, 60%);
  --first-color-alt: hsl(var(--hue-color), 57%, 53%)
  --first-color-lighter: hsl(var(--hue-color), 92%, 85%);
  --title-color: hsl(var(--hue-color), 18%, 15%);
  --text-color: hsl(var(--hue-color), 18%, 45%);
  --text-color-light: hsl(var(--hue-color), 18%, 65%);
  --input-color: hsl(var(--hue-color), 70%, 90%);
  --body-color: hsl(var(--hue-color), 60%, 90%);
  --container-color: white;

  /*--FONT AND TYPOGRAPHY px or rem mode --*/
  --body-font: "Open Sans", sans-serif;

  /*--FONT WEIGHT--*/
  --big-font-size: 2rem;
  --h1-font-size: 1.5rem;
  --h2-font-size: 1.25rem;
  --h3-font-size: 1.25rem;
  --normal-font-size: .938rem;
  --small-font-size: .813rem;
  --smaller-font-size: .75rem;

  --font-medium: 500;
  --font-semi-bold: 600;


  /*--MARGINS--*/
  --mb-0-25: .25rem;
  --mb-0-5: .5rem;
  --mb-0-75: .75rem;
  --mb-1: 1rem;
  --mb-1-5: 1.5rem;
  --mb-2: 2rem;
  --mb-2-5: 2.5rem;
  --mb-3: 3rem;

  /*--Z INDEX ??--*/
  --z-tooltip: 10;
  --z-fixed: 100;
  --z-modal: 1000;

 }

  /*--FONT SIZE FOR LARGE DEVICES ?--*/
  @media screen and (min-width: 968px) {
    :root {
        --big-font-size: 3rem;
        --h1-font-size: 2.25rem;
        --h2-font-size: 1.5rem;
        --h3-font-size: 1.25rem;
        --normal-font-size: 1.rem;
        --small-font-size: .875rem;
        --smaller-font-size: .813rem;
        
    }
  }

  /*--VARIABLES DARK MODE--*/

  /*--BUTTON DARK/LIGHT--*/

  /*--BASE--*/

  *{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
  }

  html{
    scroll-behavior: smooth;
  }

  body{
    margin: 0 0 var(--header-height) 0;
    font-family: var(--body-font);
    font-size: var(--normal-font-size);
    background-color: var(--body-color);
    color: var(--text-color);
  }

  h1,h3{
    color: var(--title-color);
  }

  h1{
    font-weight: var(--font-semi-bold);
    font-size: var(--big-font-size);
  }

  h3{
    font-weight: 300;
    font-size: var(--h3-font-size);  
  }

  h2 {
    color: repeating-linear-gradient(from 90deg at 50% 50%, #5599dd 0%, #ccccff 100%);
  }

  ul{
    list-style: none;  
  }

  a{
    text-decoration: none;  
  }

  img{
    max-width: 100%;
    height: auto;
  }

  /*--REUSABLE CSS CLASSES--*/
  .section{
    padding: 2rem 0 4rem;
  }

  .section__title{
    font-size: var(--h1-font-size);
  }

  .section__subtitle{
    display: block;
    font-size: var(--small-font-size);
    margin-bottom: var(--mb-3);
  }

  .section__title,
  .section__subtitle{
    text-align: center;
  }


  /*--LAYOUT--*/

  .container{
    max-width: 768px;
    margin-left: var(--mb-1-5);
    margin-right: var(--mb-1-5);
  }
  .grid{
    display: grid;
    gap: 1.5rem;
  }

  .header{
      width: 100;
      position: fixed;
      bottom: 0;
      left: 0;
      z-index: var(--z-fixed);
      background-color: var(--body-color);
  }

  /*--NAV--*/
  .nav{
      max-width: 968px;
      height: var(--header-height);
      display: flex;
      justify-content: space-between;
      align-items: center;
  }

  .nav__logo,
  .nav__toggle{
    color: var(--title-color);
    font-weight: var(--font-medium);
  }

  .nav__logo:hover{
    color: var(--first-color);
  }

  .nav__toggle{
    font-size: 1.1rem;
    cursor: pointer;
  }

  .nav__toggle:hover{
    color: var(--first-color);
  }

  @media screen and (max-width: 767px){
    .nav__menu{
      position: fixed;
      bottom: -100%;
      left: 0;
      width: 100%;
      background-color: var(--body-color);
      padding: 2rem 1.5rem 4rem;
      box-shadow: 0 -1.25px 4.5px rgba(0, 0, 0, .2);
      border-radius: 1.5rem 1.5rem 0 0;
      transition: .3s;
    }
  }

  .nav__list{
    grid-template-columns: repeat(3, 1fr);
    gap: .2rem;
  }

  .nav__link{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: var(--small-font-size);
    color: var(--title-color);
    font-weight: var(--font-medium);
  }

  .nav__link:hover{
    color: var(--first-color);
  }

  .nav__icon{
    font-size: 1rem;
  }

  .nav__close{
    position: absolute;
    right: 1.3rem;
    bottom: 0.5rem;
    font-size: 1.5rem;
    cursor: pointer;
    color: var(--first-color);
  }

  .nav__close:hover{
    color: var(--first-color-alt);
  }

  /* SHOW MENU */
  .show-menu{
    bottom: 0;
  }

  /*--ACTIVE LINK--*/

  /*--BACKGROUNG HEADER--*/

  /*--HOME--*/

  /*--BTNS--*/

  /*--ABOUT--*/

  /*----*/

  /*----*/

  /*----*/

  /*----*/

  /*----*/

  /*----*/

  /*----*/

  /*----*/





 