
/* https://iconscout.com/unicons - ICONS 
https://unicons.iconscout.com/release/v4.0.8/css/thinline.css

<script src="https://kit.fontawesome.com/936b0b85c7.js" crossorigin="anonymous"></script>

https://fonts.google.com/ - FONTS <style>
@import url('https://fonts.googleapis.com/css2?family=Playfair:opsz,wdth@5..1200,112.5&display=swap');
</style>

https://www.w3schools.com/colors/colors_hsl.asp - COLOURS 
 
hsl(210, 67%, 60%)
rgb(85, 153, 221)
#5599dd 

/*[popover] {
        font-size: 1.2rem;
        padding: 10px;
      }
      
      [popover]:popover-open {
        opacity: 1;
        transform: scaleX(1);
      }
      
      [popover] {
        /* Final state of the exit animation */
        /*opacity: 0;
        transform: scaleX(0);
      
        transition-property: opacity, transform, overlay, display;
        transition-duration: 0.7s;
        transition-behavior: allow-discrete;
        /* Using the shorthand transition property, we could write:
          transition: 
            opacity 0.7s,
            transform 0.7s,
            overlay 0.7s allow-discrete,
            display 0.7s allow-discrete;
      
          or even:
          transition: all 0.7s allow-discrete;
        */
      /* Needs to be included after the previous [popover]:popover-open 
         rule to take effect, as the specificity is the same */
      /*@starting-style {
          opacity: 0;
          transform: scaleX(0);
      }
      
    }*/



.header {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings:
    "wdth" 100%;
  color:white;
  background-color: #5599dd;
  text-align: center;
}

.main {
  background-color: var(--body-color);
  text-align: center;

}

.footer {
  background-color: var(--body-color);
}
 
 /*-----GOOGLE FONTS-----*/
 @import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300..800&display=swap');

 /*-----VARIABLES CSS-----*/
 :root {
  --header-height: 2rem;
  color:#5599dd; 

  /*--COLOURS--*/
  --hue-color: 210;

  /*--HSL, HEX or RGB colour mode --*/
  --first-color: hsl(var(--hue-color), 85%, 53%); /**/
  --first-color-second: hsl(var(--hue-color), 67%, 60%); /**/
  --first-color-alt: hsl(var(--hue-color), 57%, 49%); /*#3671c4*/
  --first-color-lighter: hsl(var(--hue-color), 92%, 85%); /*#b6d9fc*/
  --title-color: hsl(var(--hue-color), 18%, 15%); /*#1f262d*/
  --text-color: hsl(var(--hue-color), 18%, 45%); /*#5e7387*/
  --text-color-light: hsl(var(--hue-color), 18%, 65%); /*#96a6b6*/
  --input-color: hsl(var(--hue-color), 70%, 90%); /*#d4e6f7*/
  --body-color: hsl(var(--hue-color), 60%, 92%); /*#deebf7*/
  --container-color: white;

  /*--FONT AND TYPOGRAPHY px or rem mode --*/
  --body-font: "Open Sans", sans-serif;

  /*--FONT WEIGHT--*/
  --big-font-size: 2rem;
  --h1-font-size: 1.5rem;
  --h2-font-size: 1.25rem;
  --h3-font-size: 1.25rem;
  --normal-font-size: .938rem;
  --small-font-size: .813rem;
  --smaller-font-size: .75rem;

  --font-medium: 500;
  --font-semi-bold: 600;


  /*--MARGINS--*/
  --mb-0-25: .25rem;
  --mb-0-5: .5rem;
  --mb-0-75: .75rem;
  --mb-1: 1rem;
  --mb-1-5: 1.5rem;
  --mb-2: 2rem;
  --mb-2-5: 2.5rem;
  --mb-3: 3rem;

  /*--Z INDEX ??--*/
  --z-tooltip: 10;
  --z-fixed: 100;
  --z-modal: 1000;

 }

  /*--FONT SIZE FOR LARGE DEVICES ?--*/
  @media screen and (min-width: 968px) {
    :root {
        --big-font-size: 3rem;
        --h1-font-size: 2.25rem;
        --h2-font-size: 1.5rem;
        --h3-font-size: 1.25rem;
        --normal-font-size: 1.rem;
        --small-font-size: .875rem;
        --smaller-font-size: .813rem;
        
    }
  }

  /*--VARIABLES DARK MODE--*/

  /*--BUTTON DARK/LIGHT--*/

  /*--BASE--*/

  *{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
  }

  html{
    scroll-behavior: smooth;
  }

  body{
    margin: 0 0 var(--header-height) 0;
    font-family: var(--body-font);
    font-size: var(--normal-font-size);
    background-color: var(--body-color);
    color: var(--text-color);
  }

  h1,h3{
    color: var(--title-color);
  }

  h1{
    font-weight: var(--font-semi-bold);
    font-size: var(--big-font-size);
  }

  h3{
    font-weight: 300;
    font-size: var(--h3-font-size);  
  }

  ul{
    list-style: none;  
  }

  a{
    text-decoration: none;  
  }

  img{
    max-width: 100%;
    height: auto;
  }

  /*--REUSABLE CSS CLASSES--*/
  .section{
    padding: 2rem 0 4rem;
  }

  .section__title{
    font-size: var(--h1-font-size);
  }

  .section__subtitle{
    display: block;
    font-size: var(--small-font-size);
    margin-bottom: var(--mb-3);
  }

  .section__title,
  .section__subtitle{
    text-align: center;
  }


  /*--LAYOUT--*/

  .container{
    max-width: 768px;
    margin-left: var(--mb-1-5);
    margin-right: var(--mb-1-5);
  }
  .grid{
    display: grid;
    gap: 1.5rem;
  }

  .header{
      width: 100%;
      position: fixed;
      bottom: 0;
      left: 0;
      z-index: var(--z-fixed);
      background-color: var(--body-color);
  }

  /*--NAV--*/
  .nav{
      max-width: 968px;
      height: var(--header-height);
      display: flex;
      justify-content: left;
      align-items: left;
  }

  .nav__logo,
  .nav__toggle{
    color: var(--title-color);
    font-weight: var(--font-medium);   
  }

  .nav__logo:hover{
    color: var(--first-color);
  }

  .nav__toggle{
    font-size: 1.2rem;
    cursor: pointer;
  }

  .nav__toggle:hover{
    color: var(--first-color);
  }

  @media screen and (max-width: 767px){
    .nav__menu{
      position: fixed;
      bottom: -100%;
      left: 0;
      width: 100%;
      background-color: var(--body-color);
      padding: 2rem 1.5rem 4rem;
      box-shadow: 0 -1px 4px rgba(0, 0, 0, .2);
      border-radius: 1.5rem 1.5rem 0 0;
      transition: all 0.7s allow-discrete;
  }
}

  .nav__list{
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;  
  }

  .nav__link{
    display: flex;
    flex-direction:column;
    align-items: center;
    font-size: var(--small-font-size);
    color: var(--title-color);
    font-weight: var(--font-medium);
  }

  .nav__link:hover{
    color: var(--first-color);
  }

  .nav__icon{
    font-size: 1.4rem;
  }

  .nav__close{
    position: absolute;
    right: 1.3rem;
    bottom: 0.75rem;
    font-size: 1.5rem;
    cursor: pointer;
    color: var(--first-color);
  }

  .nav__close:hover{
    color: var(--first-color-alt);
  }

  /* SHOW MENU */
  .show-menu{
    bottom: 0;
  }

  /*--ACTIVE LINK--*/

  /*--BACKGROUNG HEADER--*/

  /*--HOME--*/
.home__container{
  gap: 1rem;
}

.home__content{
  grid-template-columns: .5fr 3fr;
  padding-top: 3.5rem;
  align-items: center;
}

.home__social{
  display: grid;
  grid-template-columns: max-content;
  row-gap: 1rem;
}

.home__social-icon{
  font-size: 1.25rem;
  color: var(--first-color);
}

.home__social-icon:hover{
  color: var(--first-color-alt);
}

.home__blob{
  width: 200px;
  fill: var(--first-color)
}

.home__blob-img{
  width: 170px;
}

.home__data{
  grid-column: 1/3;
}

.home__sentence{
  font-size: var(--h3-font-size);
}

.home__name{
  font-size: var(--big-font-size);
  color: var(--title-color);
  font-weight: var(--font-medium);
  margin-bottom: var(--mb-0-75);

}

.home__career{
  margin-bottom: var(--mb-2);
  background: linear-gradient(to right, #1f57ff 0%, #ff1fe5 100%); /* original:  #6699ff 0%, #ff99ff 100%
  OR update #1f57ff to #ff1fe5 or */
  background-clip: text;
  color: transparent;
}

.home__scroll{
  display: none;
}

.home__scroll-button{
  color: var(--first-color);
}

.home__scroll-button:hover{
  transform: translateY(0.25rem);
}
.home__scroll-mouse{
  font-size: 2rem;
}
.home__scroll-name{
  font-size: var(--small-font-size);
  color: var(--title-color);
  font-weight: var(--font-medium);
  margin-right: var(--mb-0-25);
}

.home__scroll-arrow{
  font-size: 1.25rem;
}
  /*--BTNS--*/
.button{
  display: inline-block;
  background-color: var(--first-color);
  color: #fff;
  padding: 1rem;
  border-radius: .5rem;
  font-weight: var(--font-medium);
}

.button:hover{
  background-color: var(--first-color-alt);
}

.button__icon{
  font-size: 1.25rem;
  margin-left: var(--mb-0-5);
  transition: .3s;
}

.button--flex{
  display: inline-flex;
  align-items: center;
}



  /*--ABOUT--*/

  /*----*/

  /*----*/

  /*----*/

  /*----*/

  /*----*/

  /*----*/

  /*----*/

  /*----*/


