
/* https://iconscout.com/unicons - ICONS 
https://unicons.iconscout.com/release/v4.0.8/css/thinline.css

<script src="https://kit.fontawesome.com/936b0b85c7.js" crossorigin="anonymous"></script>

https://fonts.google.com/ - FONTS <style>
@import url('https://fonts.googleapis.com/css2?family=Playfair:opsz,wdth@5..1200,112.5&display=swap');
</style>

https://www.w3schools.com/colors/colors_hsl.asp - COLOURS 
 
hsl(210, 67%, 60%) - hue color base is 210, change to 340 some time 
rgb(85, 153, 221)
#5599dd 

/*[popover] {
        font-size: 1.2rem;
        padding: 10px;
      }
      
      [popover]:popover-open {
        opacity: 1;
        transform: scaleX(1);
      }
      
      [popover] {
        /* Final state of the exit animation */
        /*opacity: 0;
        transform: scaleX(0);
      
        transition-property: opacity, transform, overlay, display;
        transition-duration: 0.7s;
        transition-behavior: allow-discrete;
        /* Using the shorthand transition property, we could write:
          transition: 
            opacity 0.7s,
            transform 0.7s,
            overlay 0.7s allow-discrete,
            display 0.7s allow-discrete;
      
          or even:
          transition: all 0.7s allow-discrete;
        */
      /* Needs to be included after the previous [popover]:popover-open 
         rule to take effect, as the specificity is the same */
      /*@starting-style {
          opacity: 0;
          transform: scaleX(0);
      }
      
    }*/



.header {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings:
    "wdth" 100%;
  color:white;
  background-color: #5599dd;
  text-align: center;
}

.main {
  background-color: var(--body-color);
  text-align: center;

}

.footer {
  background-color: var(--body-color);
}
 
 /*-----GOOGLE FONTS-----*/
 @import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300..800&display=swap');

 /*-----VARIABLES CSS-----*/
 :root {
  --header-height: 32px;
  color:#5599dd; 

  /*--COLOURS--*/
  --hue-color: 210;

  /*--HSL, HEX or RGB colour mode --*/
  --first-color: hsl(var(--hue-color), 85%, 53%); /**/
  --first-color-second: hsl(var(--hue-color), 67%, 60%); /**/
  --first-color-alt: hsl(var(--hue-color), 57%, 49%); /*#3671c4*/
  --first-color-lighter: hsl(var(--hue-color), 92%, 85%); /*#b6d9fc*/
  --title-color: hsl(var(--hue-color), 18%, 15%); /*#1f262d*/
  --text-color: hsl(var(--hue-color), 18%, 45%); /*#5e7387*/
  --text-color-light: hsl(var(--hue-color), 18%, 65%); /*#96a6b6*/
  --input-color: hsl(var(--hue-color), 70%, 90%); /*#d4e6f7*/
  --body-color: hsl(var(--hue-color), 60%, 92%); /*#deebf7*/
  --container-color: white;

  /*--FONT AND TYPOGRAPHY px or rem mode --*/
  --body-font: "Open Sans", sans-serif;

  /*--FONT WEIGHT--*/
  --big-font-size: 32px;
  --h1-font-size: 24px;
  --h2-font-size: 20px;
  --h3-font-size: 16px;
  --normal-font-size: 15px;
  --small-font-size: 14px;
  --smaller-font-size: 12px;

  --font-medium: 500;
  --font-semi-bold: 600;


  /*--MARGINS--*/
  --s-0: 4px; /*2rem = 32px, 1rem = 16px, .5rem = 8px...*/
  --s-1: 8px;
  --s-2: 12px;
  --s-3: 16px;
  --s-4: 20px;
  --s-5: 24px;
  --s-6: 28px;
  --s-7: 32px;
  --s-8: 36px;
  --s-9: 40px;
  --s-10: 48px;

  /*--Z INDEX ??--*/
  --z-tooltip: 10;
  --z-fixed: 100;
  --z-modal: 1000;

 }

  /*--FONT SIZE FOR LARGE DEVICES ?--*/
  @media screen and (min-width: 968px) {
    :root {
        --big-font-size: 48px;
        --h1-font-size: 36px;
        --h2-font-size: 24px;
        --h3-font-size: 20px;
        --normal-font-size: 16px;
        --small-font-size: 14px;
        --smaller-font-size: 13px;
        
    }
  }

  /*--VARIABLES DARK MODE--*/

  /*--BUTTON DARK/LIGHT--*/

  /*--BASE--*/

  *{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
  }

  html{
    scroll-behavior: smooth;
  }

  body{
    margin: 0 0 var(--header-height) 0;
    font-family: var(--body-font);
    font-size: var(--normal-font-size);
    background-color: var(--body-color);
    color: var(--text-color);
  }

  h1,h3{
    color: var(--title-color);
  }

  h1{
    font-weight: var(--font-semi-bold);
    font-size: var(--big-font-size);
  }

  h3{
    font-weight: 300;
    font-size: var(--h3-font-size);  
  }

  ul{
    list-style: none;  
  }

  a{
    text-decoration: none;  
  }

  img{
    max-width: 100%;
    height: auto;
  }

  /*--REUSABLE CSS CLASSES--*/
  .section{
    padding: 32px 0 64px;
  }

  .section-title{
    font-size: var(--h1-font-size);
  }

  .section-subtitle{
    display: block;
    font-size: var(--small-font-size);
    margin-bottom: var(--s-8);
  }

  .section-title,
  .section-subtitle{
    text-align: center;
  }


  /*--LAYOUT--*/

  .container{
    max-width: 768px;
    margin-left: var(--s-4);
    margin-right: var(--s-4);
  }
  .grid{
    display: flex; /*it was grid and no flex-direction and align-items*/
    flex-direction: column;
    align-items: center;
    gap: 1.5rem;
  }

  .header{
      width: 100%;
      position: fixed;
      bottom: 0;
      left: 0;
      z-index: var(--z-fixed);
      background-color: var(--body-color);
  }

  /*--NAV--*/
  .nav{
      max-width: 968px;
      height: var(--header-height);
      display: flex;
      justify-content: space-around; /*maybe leave space-between*/
      align-items: left; /*it was left*/
  }

  .nav-logo,
  .nav-menu{
    color: var(--title-color);
    font-weight: var(--font-medium);   
  }

  .nav-logo:hover{
    color: var(--first-color);
  }

  .nav-menu{
    font-size: var(--h3-font-size);
    cursor: pointer;
  }

  .nav-menu:hover{
    color: var(--first-color);
  }

  @media screen and (max-width: 767px){
    .nav--menu{
      position: fixed; 
      bottom: -100%;
      left: 0%;
      width: 100%;
      background-color: var(--body-color);
      padding: 32px 24px 64px;
      box-shadow: 0 -1px 4px rgba(0, 0, 0, .2);
      border-radius: 24px 24px 0 0;
      transition: all 0.7s allow-discrete;
  }
}

  .nav-list{
    grid-template-columns: repeat(3, 1fr); /*it was 5fr*/
    gap: var(--s-6);  
  }

  .nav__link{
    display: flex;
    /*float: left;
    position: relative;*/
    flex-direction:column;
    align-items: center;
    font-size: var(--small-font-size);
    color: var(--title-color);
    font-weight: var(--font-medium);
  }

  .nav-link:hover{
    color: var(--first-color);
  }

  .nav-icon{
    font-size: var(--s-4);
  }

  .nav__close{
    position: absolute;
    right: var(--s-4);
    bottom: var(--s-3);
    font-size: var(--h2-font-size);
    cursor: pointer;
    color: var(--first-color);
  }

  .nav-close:hover{
    color: var(--first-color-alt);
  }

  /* SHOW MENU */
  .show-menu{
    bottom: 0;
  }

  /*--ACTIVE LINK--*/

  /*--BACKGROUNG HEADER--*/

  /*--HOME--*/
.home-container{
  gap: var(--s-3);
}

.home-content{
  grid-template-columns: .5fr 3fr;
  padding-top: var(--s-10);
  align-items: center;
}

.home-social{
  display: grid;
  grid-template-columns: max-content;
  row-gap: var(--s-3);
}

.home-social-icon{
  font-size: var(--s-4);
  color: var(--first-color);
}

.home-social-icon:hover{
  color: var(--first-color-alt);
}

.home-img{
  width: 200px;
  fill: var(--first-color)
}

.home-svg-img{
  width: 170px;
}

.home-data{
  grid-column: 1/3;
}

.home-phrase{
  font-size: var(--h3-font-size);
}

.home-name{
  font-size: var(--big-font-size);
  color: var(--title-color);
  font-weight: var(--font-medium);
  margin-bottom: var(--s-5);

}

.home-career{
  margin-bottom: var(--s-7);
  background: linear-gradient(to right, #1f57ff 0%, #ff1fe5 100%); /* original:  #6699ff 0%, #ff99ff 100%
  OR update #1f57ff to #ff1fe5 or */
  background-clip: text;
  color: transparent;
}

.home-scroll{
  display: none;
}

.home-scroll-button{
  color: var(--first-color);
  transition: .3s;
}

.home-scroll-button:hover{
  transform: translateY(4px);
}
.home-scroll-mouse{
  font-size: var(--big-font-size);
}
.home-scroll-name{
  font-size: var(--small-font-size);
  color: var(--title-color);
  font-weight: var(--font-medium);
  margin-right: var(--s-0);
}

.home-scroll-arrow{
  font-size: var(--s-4);
}
  /*--BTNS--*/
.button{
  display: inline-block;
  background-color: var(--first-color);
  color: #fff;
  padding: var(--s-2); /*1rem = 16px, .5rem = 8px...*/
  border-radius: var(--s-1);
  font-weight: var(--font-medium);
}

.button:hover{
  background-color: var(--first-color-alt);
}

.button-icon{
  font-size: 1.25rem;
  margin-left: var(--s-1);
  transition: .3s;
}

.button-flex{
  display: inline-flex;
  align-items: center;
}

  /*--ABOUT--*/

.about-img{
  width: 200px;
  border-radius: var(--s-1);
  justify-self: center;
  align-self: center;
}

.about-description{
  text-align: center;
  margin-bottom: var(--s-9);
}

.about-info{
  display: flex;
  justify-content: space-evenly;
  margin-bottom: var(--s-9);
}

.about-info-title{
  font-size: var(--h2-font-size);
  font-weight: var(--font-semi-bold);
}

.about-info-name{
  font-size: var(--smaller-font-size);
}

.about-info-title,
.about-info-name{
  display: block;
  text-align: center;
}

.about-buttons{
  display: flex;
  justify-content: center;
}

  /*----*/

  /*----*/

  /*----*/

  /*----*/

  /*----*/

  /*----*/

  /*----*/

  /*----*/


